.one_half,
.one_third, .two_third,
.one_quarter, .two_quarter, .three_quarter,
.one_fifth, .two_fifth, .three_fifth, .four_fifth,
.one_sixth, .two_sixth, .three_sixth, .four_sixth, .five_sixth{display:inline; float:left; margin:0 0 0 3.125%; list-style:none;}

.one_half:first-child,
.one_third:first-child, .two_third:first-child,
.one_quarter:first-child, .two_quarter:first-child, .three_quarter:first-child,
.one_fifth:first-child, .two_fifth:first-child, .three_fifth:first-child, .four_fifth:first-child,
.one_sixth:first-child, .two_sixth:first-child, .three_sixth:first-child, .four_sixth:first-child, .five_sixth:first-child{margin-left:0;}

.first{margin-left:0; clear:left;}

.full_width{display:block; width:100%; clear:both;}

/*----------------------------------------------Half Grid-------------------------------------*/

/*
.one_half{width:465px;} => 465 ÷ 960 = 0.484375 * 100 = 48.4375
*/

.one_half{width:48.4375%;}

/*----------------------------------------------Third Grid-------------------------------------*/

/*
.one_third{width:300px;} => 300 ÷ 960 = 0.3125 * 100 = 31.25
.two_third{width:630px;} => 630 ÷ 960 = 0.65625 * 100 = 65.625
*/

.one_third{width:31.25%; margin-left:20px}
.two_third{width:65.625%;}


/*----------------------------------------------Quarter Grid-------------------------------------*/

/*
.one_quarter{width:217.5px;} => 217.5 ÷ 960 = 0.2265625 * 100 = 22.65625
.two_quarter{width:465px;} => 465 ÷ 960 = 0.484375 * 100 = 48.4375
.three_quarter{width:712.5px;} => 712.5 ÷ 960 = 0.7421875 * 100 = 74.21875
*/

.one_quarter{width:22.65625%;}
.two_quarter{width:48.4375%;}
.three_quarter{width:74.21875%;}


/*----------------------------------------------Fifth Grid-------------------------------------*/

/*
.one_fifth{width:168px;} => 168 ÷ 960 = 0.175 * 100 = 17.5
.two_fifth{width:366px;} => 366 ÷ 960 = 0.38125 * 100 = 38.125
.three_fifth{width:564px;} => 564 ÷ 960 = 0.5875 * 100 = 58.75
.four_fifth{width:762px;} => 762 ÷ 960 = 0.79375 * 100 = 79.375
*/

.one_fifth{width:17.5%;}
.two_fifth{width:38.125%;}
.three_fifth{width:58.75%;}
.four_fifth{width:79.375%;}


/*----------------------------------------------Sixth Grid-------------------------------------*/

/*
.one_sixth{width:135px;} => 135 ÷ 960 = 0.140625 * 100 = 14.0625
.two_sixth{width:300px;} => 300 ÷ 960 = 0.3125 * 100 = 31.25
.three_sixth{width:465px;} => 465 ÷ 960 = 0.484375 * 100 = 48.4375
.four_sixth{width:630px;} => 630 ÷ 960 = 0.65625 * 100 = 65.625
.five_sixth{width:795px;} => 795 ÷ 960 = 0.828125 * 100 = 82.8125
*/

.one_sixth{width:14.0625%;}
.two_sixth{width:31.25%;} /* Same as one_third */
.three_sixth{width:48.4375%;} /* Same as two_quarter */
.four_sixth{width:65.625%;} /* Same as two_third */
.five_sixth{width:82.8125%;}


